@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://github.com/andbaric/mono-fs-task/projects/1" target="_blank">Mono-fs-task</a></p>
</div>
