@{
    ViewData["Title"] = "Makes administration";
}
@using Project.MVC.Models.Administration.VehicleMake;
@model AdministrateMakesViewModel

<div class="card text-center">
    <div class="card-header">
        <partial name="_Navigation" model="Model.MakesAdministrationNavigation" />
    </div>
    <div class="card-body">
        <p>
            <a asp-action="CreateMake" class="btn btn-primary btn-lg btn-block">
                <i class='fas fa-plus'></i>
                New make
            </a>
        </p>
        @(Html
                .Grid(Model.TableData)
                .Build(columns =>
                {
                    columns.Add().RenderedAs((model, row) => row + 1).Titled("#").Css("text-center");
                    columns.Add(model => model.Name).Titled("Name");
                    columns.Add(model => model.Abrv).Titled("Abrv");
                    columns.Add(model =>
                       $"<div>" +
                       $"<a href= \"/administration/makes/{model.Id}\"" +
                           $"style ='margin: 2px' class='btn btn-secondary' data-id=\"{model.Id}\"><i class='fas fa-info-circle'></i></button>" +
                       $"<a href= \"/administration/makes/edit/{model.Id}\"" +
                           $"style ='margin: 2px' class='btn btn-secondary' data-id=\"{model.Id}\"><i class='fas fa-edit'></i></a>" +
                       $"<a href= \"/administration/makes/delete/{model.Id}\"" +
                           $"style ='margin: 2px' class='btn btn-danger' data-id=\"{model.Id}\"><i class='fas fa-trash'></i></button>" +
                       $"<div>"
                   ).Encoded(false).Titled("CRUD options").Css("actions-column");

                })
                .Using(GridFilterMode.Header)
                .Empty("No data found")
                .Filterable()
                .Sortable()
                .Pageable(pager =>
                {
                    pager.PageSizes = new Dictionary<Int32, String> { { 4, "4" }, { 8, "8" }, { 16, "16" }, { 0, "All" } };
                    pager.ShowPageSizes = true;
                })
            )
    </div>
</div>