@using Project.MVC.Models.Administration.VehicleMake;
@model CreateMakeViewModel

@{
    ViewData["Title"] = "Create vehicle make";
}

<h4>New make</h4>
<i class='fas fa-industry fa-5x'></i>
<hr />
<div class="row">
    <div class="col-md-4">
        <partial name="_FeedbackMessage" model="Model" />
        <form asp-action="CreateMake" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abrv" class="control-label"></label>
                <input asp-for="Abrv" class="form-control" />
                <span asp-validation-for="Abrv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create make" class="btn btn-primary" />
            </div>
        </form>
        <hr />
    </div>
</div>

<div>
    <a asp-action="AdministrateMakes">Back to List</a>
</div>

