@using Project.Service.Models.DTOs.VehicleAdministration.VehicleMakes
@model ReadMakeDto

@{
    ViewData["Title"] = "DeleteMake";
}

<h1>DeleteMake</h1>
<h2>Are you sure you want to delete?</h2>
<div>
    <h4>Vehicle make</h4>
    <i class='fas fa-industry fa-5x'></i>
    <hr />
    <dl class="row">
        <dt class="col-sm-6 justify-content-end" style="display: flex;">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-6 justify-content-start" style="display: flex;">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-6 justify-content-end" style="display: flex;">
            @Html.DisplayNameFor(model => model.Abrv):
        </dt>
        <dd class="col-sm-6 justify-content-start" style="display: flex;">
            @Html.DisplayFor(model => model.Abrv)
        </dd>
    </dl>
    <form asp-action="DeleteMake" method="post">
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i>
            Delete
        </button>
    </form>
    <hr />
    <a asp-action="AdministrateMakes" role="button" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i>
        Back to grid
    </a>
</div>

