@model Project.MVC.Models.Shared.Card

<a asp-controller="@Model.ControllerName"
   asp-action="@Model.ControllerAction">

    <div class="card card--activity text-center">
        <div class="card-header">
            <span>@Model.Title</span>
        </div>
        <div class="card-body">
            <img class="card-img" src="@Model.ImageUrl" alt="" />
        </div>
    </div>

</a>