@{
    ViewData["Title"] = Model.Title;
}

<div class="card text-center">
    <div class="card-header">
        <partial name="_Navigation" model="Model.Navigation" />
    </div>
    <div class="card-body">
        <partial name="~/Views/Shared/Grid/_Grid.cshtml" model="Model.Grid" />
    </div>
</div>
