@{
    ViewData["Title"] = "Administration";
}
<div style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <h1> Welcome to administration! </h1>

</div>
